.navbar-toggler{
    border: none!important;
    outline: none!important;
}
.navbar{
    background: #E8FBFA;
}
.navbar-collapse{
    text-align: center;
}
.navbar-brand{
    color: teal;
}
.nav-link{
    margin: 0;
}
.btn{
    color: #f0f0f0;
    background-color: #03a6a6;
    border-color: #f0f0f0;
}
.btn:hover{
    background-color: #f0f0f0;
    color: #03a6a6;
    border-color: #03a6a6;
}
h1{
    text-align: center;
    color: #000;
    font-size: 500%;
    text-shadow: #03a6a6 0.02em 0.02em 0.02em;
}
h2{
    text-align: center;
}
a:hover{
    color: teal;
}
fieldset{
    margin: 3% 10% 1% 10%;
    padding: 1.5%;
    border: 1px solid #03a6a6 !important;
    border-radius: 5px;
}
legend{
    font-size: 150%;
    text-align: center;
    color: #03a6a6;
}
.cute-robot-v1 {
    margin: 9% 0 3% 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cute-robot-v1 * {
    box-sizing: border-box;
}
.cute-robot-v1 .circle-bg {
    background: #cedbdd;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 8px solid teal;
    position: relative;
}
.cute-robot-v1 .circle-bg:after {
    content: "";
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: -3px;
    left: 0;
    border-radius: 100%;
    border-bottom: 10px solid teal;
}
.cute-robot-v1 .circle-bg:hover .robot-face {
    top: 40px !important;
}
.cute-robot-v1 .circle-bg:hover .eyes {
    top: 30px !important;
}
.cute-robot-v1 .circle-bg:hover .mouth {
    background: teal;
    border: none;
    clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);
}
.cute-robot-v1 .circle-bg:hover .mouth:after {
    content: "";
    position: absolute;
    height: 80%;
    width: 80%;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
    background: #f9bbbb;
    border-radius: 100%;
}
.cute-robot-v1 .circle-bg .robot-head {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    border: 8px solid teal;
    border-radius: 85px/ 60px;
    background: #fff;
    z-index: 4;
}
.cute-robot-v1 .circle-bg .robot-head:after {
    content: "";
    position: absolute;
    top: -30px;
    height: 30px;
    width: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: teal;
}
.cute-robot-v1 .circle-bg .robot-head:before {
    content: "";
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    width: 20px;
    background: #cedbdd;
    border: 8px solid teal;
    border-radius: 100%;
}
.cute-robot-v1 .circle-bg .robot-head .robot-face {
    height: 120px;
    width: 160px;
    background: #e1f4f0;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    border: 8px solid teal;
    border-radius: 45px;
}
.cute-robot-v1 .circle-bg .robot-head .robot-face .eyes {
    height: 20px;
    width: 20px;
    background: teal;
    border-radius: 100%;
    position: absolute;
    transition: all 200ms;
    top: 40px;
}
.cute-robot-v1 .circle-bg .robot-head .robot-face .eyes.left {
    left: 30px;
}
.cute-robot-v1 .circle-bg .robot-head .robot-face .eyes.right {
    right: 30px;
}
.cute-robot-v1 .circle-bg .robot-head .robot-face .mouth {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border: 8px solid transparent;
    border-bottom-color: teal;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    overflow: hidden;
}
.cute-robot-v1 .circle-bg .robot-ear {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: #fff;
    border: 8px solid teal;
    z-index: 3;
    top: 30px;
}
.cute-robot-v1 .circle-bg .robot-ear.left {
    left: -20px;
}
.cute-robot-v1 .circle-bg .robot-ear.right {
    right: -20px;
}
.cute-robot-v1 .circle-bg .robot-body {
    height: 50px;
    width: 100px;
    border: 8px solid teal;
    background: #fff;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px 25px 30px 30px;
}
