.navbar-toggler{
    border: none!important;
    outline: none!important;
}
.navbar{
    background: #E8FBFA;
}
.navbar-collapse{
    text-align: center;
}
.navbar-brand{
    color: teal;
}
.nav-link{
    margin: 0;
}
.btn{
    color: #f0f0f0;
    background-color: #03a6a6;
    border-color: #f0f0f0;
}
.btn:hover{
    background-color: #f0f0f0;
    color: #03a6a6;
    border-color: #03a6a6;
}
h1{
    text-align: center;
    color: #000;
    font-size: 500%;
    text-shadow: #03a6a6 0.02em 0.02em 0.02em;
}
h2{
    text-align: center;
    color: #000;
    font-size: 225%;
    margin: 3% 0% 1% 0%;
    padding: 0.5%;
    text-shadow: #03a6a6 0.01em 0.01em 0.01em;
    border: 1.5px solid #03a6a6;
    border-radius: 4px;
    display: inline-block;
    position: relative;
	left: 50%;
	transform: translateX(-50%);
}
a:hover{
    color: teal;
}
.titleUnderNavbar{
    margin: 8% 0 1% 0;
}
.centerDiv{
    text-align: center;
}
thead{
    background-color: #03a6a6;
    color: #f0f0f0;
}
table{
    margin: 2% auto;
    width: 100%;
}
tbody{
    height: 100px;
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
.table-wrapper {
    position:relative;
}
.table-scroll {
    height:30vmax;
    overflow:auto;
}